@page
@model Appr_Disaster_alleviation_foundation_app1.Pages.NewDisaster.CreateModel
@{
}

<br>
<h2>New disaster</h2>

@if (Model.errorMessage.Length > 0)
            {
                <div class='alert alert-warning alert-dismissible fade show' role='alert'>
                    <strong>@Model.errorMessage</strong>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                </div>

            }

<form method="post">
    <div class=" row mb-3">
        <label class=" col-sm-3 col-form-label">Description</label>
        <div class=" col-sm-6">
            <input type="text" class="form-control" name="description" value="@Model.disasterInfo.DESCRIPTION">
        </div>
    </div>
    <div class="row mb-3">
        <label class=" col-sm-3 col-form-label"> Required aid type</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="reqaidtype" value="@Model.disasterInfo.REQAIDTYPE">
        </div>
    </div>
    <div class=" row mb-3">
        <label class=" col-sm-3 col-form-label">Disaster location</label>
        <div class=" col-sm-6">
            <input type="text" class="form-control" name="disasterlocation" value="@Model.disasterInfo.DISASTERLOC">
        </div>
    </div>
    <div class=" row mb-3">
        <label class=" col-sm-3 col-form-label">Disaster start date</label>
        <div class=" col-sm-6">
            <input type="text" class="form-control" name="disasterstartdate" value="@Model.disasterInfo.DISASTERSTARTDATE">
        </div>
    </div>
    <div class=" row mb-3">
        <label class=" col-sm-3 col-form-label">Disaster end date</label>
        <div class=" col-sm-6">
            <input type="text" class="form-control" name="disasterenddate" value="@Model.disasterInfo.DISASTERENDDATE">
        </div>
    </div>
    <div class=" row mb-3">
        <label class=" col-sm-3 col-form-label">Allocate money</label>
        <div class=" col-sm-6">
            <input type="text" class="form-control" name="allocatemoney" value="@Model.disasterInfo.ALLOCATEMONEY">
        </div>
    </div>
    <div class=" row mb-3">
        <label class=" col-sm-3 col-form-label">Allocate goods</label>
        <div class=" col-sm-6">
            <input type="text" class="form-control" name="allocategoods" value="@Model.disasterInfo.ALLOCATEGOODS">
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="row mb-9">
                <div class='alert alert-warning alert-dismissible fade show' role='alert'>
                    <strong>@Model.successMessage</strong>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                </div>
            </div>
        </div>

    }

    <div class="row-mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class=" col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>


    </div>

</form>
